// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
div#tag_list {
    font-size: 12pt;
}

#tags_ul {
    display: inline;
}

#tags_ul li:last-child:after {
  content: "";
}

#tags_ul li:after {
  content: ", ";
}

#tags_ul li {
    display: inline;
}

table.inpost {
  font-size:inherit;
  font:100%;
  margin:1em;
}

table.inpost th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table.inpost td{border-bottom:1px solid #ddd;padding:.2em 1em;}
